
<div class="panel panel-default">
  <div class="panel-heading">Amount of products</div>
  <div class="panel-body">
    <%= @count_category %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Amount of product categories</div>
  <div class="panel-body">
    <%= @count_products %>
  </div>
</div>
